.btn-yellow {
	background-color: #ffc20b;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.btn-yellow:hover {
	background-color: yellow;
	transition-delay: 0,1s;
}